<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }
  .btn-search i{
    display: inline;
  }
  .search-box{
      border-radius: 25px;
      padding: 0.5rem 1rem 0.5rem 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-sharp fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <div class="navbar-nav"> -->
      <div class="nav-item">
        <a class="nav-link" href="/listing">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex " role="search">
          <input class="form-control me-2 search-box" type="search" placeholder="Search Destinations">
          <button class="btn btn-search" type="submit"><i class="fa-brands fa-searchengin"></i>Search</button>
        </form>
      </div>
      <!-- </div> -->
    </div>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Airbnb your home</a>
        </li>
        <% if(!currUser){%>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/signup"><b>SignUp</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
          <% }%>
            <% if(currUser){ %>
              <li class="nav-item">
                <a class="nav-link" href="/logout"><b>LogOut</b></a>
              </li>
              <% } %>
                <li class="nav-item">
                </li>
      </ul>
    </div>
  </div>
</nav>