<% layout("layouts/boilerplate") -%>

<div class="row">
    <div class="alert alert-danger mt-4 d-flex align-items-center col-6 offset-2 ml-2" role="alert">
        <div>
           <h3 class="alert-heading"><%= err.message %></h3>

           <!-- <p></p> -->
           
           
        </div>
    </div>

</div>
    
   